*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

         /* HEADER*/
header{
    background-color: lightseagreen;
}
#nav-bar{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    
}
/* Nav info e funcition propriety */
.nav-bar-propriety a{
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;
    color: black;
}

.nav-bar-propriety a:hover{
    text-decoration: underline;
    color: blue;
}

/* Bottono Acedi */
#nav-function button{
    background-color: blue;
    color: white;
    padding: 10px;
    margin-left: 15px;
    border: none;
}
#nav-function button:hover{
    background-color: green;
}

/* JUMBO---- */

/* dimensionamento jumbo */
#jumbo{
    width: 70%;
    margin: auto;   
    
}

/* Proprieta titolo */
#titolo{
    margin-top: 4%;
    padding: 100px;
    text-align: center;
    font-size: 30px;
}

/* Proprietà Paragrafo Container*/
#paragrafo-jumbo-container-flex{
    display: flex;
    position: relative;
    top: 90px;
    
}

.paragrafo-jumbo{
    flex-basis: 35%;
}
/* Proprieta paragrafo testo */
.jumbo-testo{
    font-size: 25px;
    line-height: 150%;
    margin-bottom: 4%;
    
}


/* Proprietà Bottone prova  */
.bottone-prova{
    background-color: blue;
    color: white;
    padding: 20px;
    font-size: 25px;
    margin-bottom: 4%;
    border: none;
}
.bottone-prova:hover{
    background-color: green;
    border-radius: 20px;
}

/* Info di anullamento */
.anullameto{
    font-size: 25px;
}

/* Freccia in giu */
.freccia{
    font-size: 100px;
    margin-top: 40%;
       
}

/* Proprietà immagine jumbo */

.jumbo-immagine img{
    width: 100%;   
}


                 /* MAIN */
/* Container main */
#container-main{
    width: 55%;
    margin: auto;
    background-color: lightblue;
}

/* caratteristiche titolo main */
.titolo-main{
    
    padding-top: 150px;
    padding-bottom: 30px;
    font-size: 30px;
}

/* Bottoni per scelta abbonamento */
.tasti-selezione-abbonamento label{
    margin-right: 30px;
}
.tasti-selezione-abbonamento{
  padding-bottom: 40px;
}

/* Colonne tipi di fatturazione */
.container-colenne-abbonamenti{
    display: flex;  
    justify-content: space-between; 
}

/* caratteristiche Colonna */
.colonna,
#enterprise{
    flex-basis: 30%;
    border: 2px solid grey;
    
}

/* Utente singolo o multiplo */
/* Allineamento Titolo Enterprise */
.utente-singolo-title,
.enterprise-team{
    text-align: center;
    padding: 15px;
    border-bottom: 2px solid gray;
}

.razc{
    padding: 20px;
}

/* Proprieta nome abbonamento prezzo per ogni mese */
.prezzo,
.periodo-addebito-abbonamento{
    margin-top: 10px;
}

.prezzo{
    font-weight: bold;
}
.prezzo::before{
    content: "\20AC";
}
.periodo-addebito-abbonamento{
    color: gray;
}
.abbonamento>div{
    padding-bottom: 30px;
}


/* Lista caratteristiche abbonamento */
.list-style-type{
    list-style-type: none;
}

.list-style-type li{
    padding-top: 10px;
    padding-bottom: 10px;
}


/* Proprieta Link acquisto */
.link-acquisto{
    padding-bottom: 50px;
}

/* Proprieta riga di separazione */
.riga-separazione{
    height: 2px;
    width: 50px;
    background-color: grey;
    margin-bottom: 30px;
}

.check::before{
    content: "\2713";
    color: green;
}


/* Enterprise------ */
#enterprise{
    margin-top: 50px;
}

.container-flex-contenuto-enterprise{
    display: flex;
    justify-content: space-between;
}

/* Proprieta colonna di sinistra e destra enterprise */
.colonna-sinistra-enterprise,
.colonna-destra-enterrise{
    padding: 40px;
}

.colonna-sinistra-enterprise h2,
.colonna-sinistra-enterprise h3{
    margin-bottom: 20px;
}

.colonna-sinistra-enterprise p{
    margin-top: 50px;
}

/* PARTNER Dropbox */
.container-flex-partner{
    display: flex;
    margin-top: 15%;
}

/* Immagine Partner */
.immagine-partner img{
    width: 100%;
}

.colonna-destra-partner{
    padding-top: 8%;
    padding-left: 5%;
    padding-right: 5%;
}
.colonna-destra-partner h2{
    font-size: 30px;
    margin-bottom: 30px;
}
.colonna-destra-partner p{
    font-size: 20px;
    line-height: 150%;
}


    /* OPERAZIONI DROPBOX */
.operazioni{
    margin-top: 100px;
}

/* Titolo operazioni */
.operazioni h2{
    font-size: 40px;
}

/* container flex operazioni */
.container-flex-operazioni{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    flex-wrap: wrap;
}

.card{
    flex-basis: 30%;
    margin-top: 30px;
}
.immagine-card img{
    width: 100%;
}

/* Descrizione Operazione */
.descrizione-operazione h3{
    font-size: 25px;
    margin-top: 30px;
}
.descrizione-operazione p{
    line-height: 150%;
    margin-top: 20px;
}

















